<div class="container">
  <footer>
    <div class="row">
      <div class="col-md-4">
        Hotline: 0000000
        <br>
        Mon-Fri: 8am-5pm
        <br>
        Sat: 8am-4pm
      </div>
      <div class="col-md-4">
        Hotline: 0000000
        <br>
        Mon-Fri: 8am-5pm
        <br>
        Sat: 8am-4pm
      </div>
      <div class="col-md-4">
        Hotline: 0000000
        <br>
        Mon-Fri: 8am-5pm
        <br>
        Sat: 8am-4pm
      </div>
    </div>
  </footer>

</div>
