<!-- header -->
<div class="container">
    <!-- logo & intro -->
    <div class="row">
        <div class="col-md-5 logo">
            <a href="#"><img src="../public/images/logo.png" /></a>
        </div>
        <div class="contact-and-time text-right">
            <p>Hotline: 0000000</p>
            <p>Mon-Fri: 8am-5pm</p>
            <p>Sat: 8am-4pm</p>
        </div>

        <nav class="navbar navbar-default">
          <div class="container">
            <ul class=" nav navbar-nav navbar-right">
              <li style="padding-top: 6px;"><input type="text" class="form-control" placeholder="Search"></li>
              <li style="padding-top: 6px;"><button type="submit" class="btn btn-default glyphicon glyphicon-search" value="submit" ></button></li>
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
            </ul>
          </div>
        </nav>
    </div>

    <!-- menu -->
    <div class="row">
        <nav class="navbar navbar-custom">
            <div class="navbar-header">
                <button class="collapsed navbar-toggle button-menu" data-toggle="collapse" data-target="#menu-collapse">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="basket">
                    <a href="#"><img src="../public/images/basket.png" style="width:44px; height:34px;"/></a>
                </span>
            </div>

            <div class="navbar-collapse collapse" id="menu-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li>
                    <li><a href="#" style="padding-top:0px; padding-bottom:0px;"><img class="basket-in-drop-menu" src="../public/images/basket.png"/></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
