<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
        <link rel="stylesheet" href="../public/css/style.css" />
        <link rel="stylesheet" href="../public/css/header.css" />
        <link rel="stylesheet" href="../public/css/slide.css" />
        <link rel="stylesheet" href="../public/css/footer.css" />
    </head>
    <body>
         <% include ../partials/header%>
          <% include ../partials/faded-slide%>
        <!-- main content -->
        <div class="cotainer-fluid main-content">
            <div class="col-md-10 col-md-offset-1">
                <div class="wrapper">

                </div>
            </div>

        </div>

        <!-- footer -->
        <% include ../partials/footer %>

        <!-- javascript & jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        <script src="../public/js/slide.js"></script>
        <script src="../public/js/home.js"></script>

    </body>
</html>
