<div class="container_faded_slide">
    <div class="fadein col-sm-offset-1 col-md-offset-1">
        <div class="slide">
            <div class="intro col-sm-5 col-md-5">
                <h3 class="category-title">TREATS</h3>
                <p class="category-content">
                    We offer a huge range of delicacies, all faithfully recreated daily from Keith's original recipes and baked on site using only the freshest ingredients
                </p>
                <a class="more-info" href="#">Buy now...</a>
            </div>
            <img class="img-responsive category-avatar col-sm-8 col-md-5" src="../public/images/s-treats.jpg" />
        </div>
        <div class="slide">
            <div class="intro col-sm-5 col-md-5">
                <h3 class="category-title">Catering</h3>
                <p class="category-content">
                    When it comes to keeping your event fuss-free, there's no better choice than a selection of Keith Cakes' freshly-made catering meal options
                </p>
                <a class="more-info" href="#">Buy now...</a>
            </div>
            <img class="img-responsive category-avatar col-sm-8 col-md-5" src="../public/images/s-catering.jpg" />
        </div>
        <div class="slide">
            <div class="intro col-sm-5 col-md-5">
                <h3 class="category-title">Savouries</h3>
                <p class="category-content">
                    Our four pastry chefs have a passion for, well, pastry! Great for parties, our bite-size savouries are also a convenient snack on the run
                </p>
                <a class="more-info" href="#">Buy now...</a>
            </div>
            <img class="img-responsive category-avatar col-sm-8 col-md-5" src="../public/images/s-savouries.jpg" />
        </div>
        <div class="slide">
            <div class="intro col-sm-5 col-md-5">
                <h3 class="category-title">Dessert Cakes</h3>
                <p class="category-content">
                    Make your get-together an occasion to remember with one of our amazing dessert cake selections
                </p>
                <a class="more-info" href="#">Buy now...</a>
            </div>
            <img class="img-responsive category-avatar col-sm-8 col-md-5" src="../public/images/s-desserts.jpg" />
        </div>
        <div class="slide">
            <div class="intro col-sm-5 col-md-5">
                <h3 class="category-title">Cupcakes</h3>
                <p class="category-content">
                    For tea, school lunches, birthdays, weddings, baby showers and even corporate events, our cupcakes are the ideal treat for every occasion
                </p>
                <a class="more-info" href="#">Buy now...</a>
            </div>
            <img class="img-responsive category-avatar col-sm-8 col-md-5" src="../public/images/s-cupcakes.jpg" />
        </div>
        <div class="slide">
            <div class="intro col-sm-5 col-md-5">
                <h3 class="category-title">Celebration Cakes</h3>
                <p class="category-content">
                    Our traditional celebration cakes are the perfect finishing touch to your special occasion. Make yours unique by selecting your base, size, colour, sides and message
                </p>
                <a class="more-info" href="#">Buy now...</a>
            </div>
            <img class="img-responsive category-avatar col-sm-8 col-md-5" src="../public/images/s-celebration.jpg" />
        </div>
        <div class="slide">
            <div class="intro col-sm-5 col-md-5">
                <h3 class="category-title">Children's Cakes</h3>
                <p class="category-content">
                    Our fully-customised, fun and friendly range of specialty cakes for children are guaranteed to bring a smile to the face of the birthday boy or girl
                </p>
                <a class="more-info" href="#">Buy now...</a>
            </div>
            <img class="img-responsive category-avatar col-sm-8 col-md-5" src="../public/images/s-childrens.jpg" />
        </div>
        <div class="slide">
            <div class="intro col-sm-5 col-md-5">
                <h3 class="category-title">Health Cakes</h3>
                <p class="category-content">
                    We realise it's not always about decadent desserts and celebrations. Sometimes you're just looking for a down-to-earth sweet treat to satisfy your appetite
                </p>
                <a class="more-info" href="#">Buy now...</a>
            </div>
            <img class="img-responsive category-avatar col-sm-8 col-md-5" src="../public/images/s-health-cakes.jpg" />
        </div>
    </div>
</div>
