<div class="container footer">
    <div class="row">
        <div class="footer-menu first-footer-menu">
          <p>About Us</p>
          <p class="about-us-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 footer-menu first-footer-menu">
        <p>Menu</p>
        <ul class="list-group">
            <li><a href="#">Treats</a></li>
            <li><a href="#">Catering</a></li>
            <li><a href="#">Savouries</a></li>
            <li><a href="#">Dessert Cakes</a></li>
            <li><a href="#">Cupcakes</a></li>
            <li><a href="#">Celebration Cakes</a></li>
            <li><a href="#">Children's Cakes</a></li>
            <li><a href="#">Health Cakes</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 footer-menu">
        <p>Open</p>
        <ul class="list-group">
            <li>Mon - Fri: 8:00am - 6:00pm</li>
            <li>Sat - Sun: 8:00am - 4:30pm</li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-4 footer-menu">
        <p>Contact Us</p>
        <ul class="list-group">
            <li>Phone: 00000000</li>
            <li>Email: anhchilathangbanbanh@gmail.com</li>
        </ul>
      </div>
    </div>
</div>
