.Header .Logo {
    padding: 0px;
}

.Header .MenuWrapper {
    padding: 0px;
}

.Header .NavbarCustom {
    background-color: rgb(249,248,231);
    border-radius: 0px;
    border: none;
}

.Header .ButtonMenu {
    float: left;
    margin-left: 15px;
    background-image: url('./images/nav.svg');
    background-repeat: no-repeat;
    margin-right: 0px;
}

.navbar-right li a{
    color: rgb(163,50,52);
}

.Body {
    padding-top: 50px;
}
