* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: #8d7e6f;
}

html, body {
    background-color: rgb(253, 250, 232);
}
/*--------------------------------------
    HEADER
--------------------------------------*/
.Header .MenuDetail li a {
    color: #8d7e6f;
    font-weight: bold;
    font-size: 18px;
}

.Header .MenuDetail li a:hover {
    color: #cc0d1c;
    background-color: transparent !important;
}

.Header .ButtonMenu {
    float: left;
    margin-left: 15px;
    background-image: url('./images/nav.svg');
    background-repeat: no-repeat;
    margin-right: 0px;
}
.Header .Logo {
    padding: 0px;
}

.Header .MenuWrapper {
    padding: 0px;
}

.Header .NavbarCustom {
    padding-top: 55px;
    /*background-color: rgb(249,248,231);*/
    border-radius: 0px;
    border: none;
}

.Header .ButtonMenu {
    float: left;
    margin-left: 15px;
    background-image: url('./images/nav.svg');
    background-repeat: no-repeat;
    margin-right: 0px;
}

.navbar-right li a{
    color: rgb(163,50,52);
}

/*----------------------------------
    Home
----------------------------------*/
/* slide */
.Home .SlideDisplayTopSelling {
    height: auto;
    margin: 0 auto;
}

.Home .SlideDisplayTopSelling .TopSellingSlide .TopSellingCake .CakeAvatar {
    display: block;
    margin: 0 auto;
}

.Home .SlideDisplayTopSelling .TopSellingSlide .TopSellingCake .CakeInfo {
    text-transform: uppercase;
    float: left;
    font-weight: bold;
    font-size: 20px;
    color: #8d7e6f;
    margin-left: 150px;
}

.Home .SlideDisplayTopSelling .TopSellingSlide .TopSellingCake .BtnBuyNow {
    float: left;
}

.Home .SlideDisplayTopSelling .SlidePage .SlideContent {
    height: 500px;
}

/*order modal*/
.modal-body {
    min-height: 350px;
    background-color: rgb(253, 250, 232);
    border-radius: 6px;
}

.modal-body .BtnCloseModal {
    font-weight: bold;
    font-size: 20px;
    color: #8d7e6f;
    cursor: pointer;
    display: block;
    float: right;
}

.modal-body .CakeInfo p {
    color: #8d7e6f;
    line-height: 45px;
}

.modal-body .CakeInfo .QualtityTitle {
    float: left;
}

.modal-body .CakeInfo .QualtityInput {
    float: left;
    margin-top: 7px;
    margin-left: 10px;
}

.modal-body .CakeInfo .BtnChooseSection {
    clear: both;
    margin-top: 10px;
}

/* list category */
.ListCategory .Category {
    height: 300px;
    position: relative;
}

.ListCategory .Category .CategoryIntro img {
    width: 100%;
    transform: translate(0%, -50%);
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ListCategory .Category .CategoryIntro h3 {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    text-transform: uppercase;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*--------------------------------------------------------------------------
	Footer Style
--------------------------------------------------------------------------*/
.Footer {
  background: #222;
  color: #A0A0A0;
  padding: 0 20px 10px 20px;
  border-top: 4px solid #aec62c;
  margin-top: 20px;
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  color: 0 -1px 12px rgba(0,0,0,0.4);
}
.Footer h3 {
  color: #E4E4E4;
  font-size: 1.3em;
  border-bottom: 1px dotted #7C7C7C;
}
.Footer ul {
  padding: 0;
}
.footer-navigate-section li {
  line-height: 20px !important;
}
.footer-stay-connected a {
  text-align: left;
  text-indent: -9999px;
  display: block;
  width: 115px;
  height: 40px;
  /*background: url(../img/stay-connected.png);*/
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.footer-stay-connected a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer-stay-connected a.facebook {
  background-position: -115px 0;
}
.footer-stay-connected a.twitter {
  background-position: -230px 0;
}
.footer-stay-connected a.googleplus {
  background-position: 0 0;
}
.footer-stay-connected li {
  text-align: center;
}
.footer-copyright {
  text-align: center;
  color: #7C7C7C;
  border-top: 1px dotted #7C7C7C;
  padding-top: 10px;
  font-size: 0.9em;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('./images/1.jpg');
    min-height: 400px;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url('./images/1.jpg');
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url('./images/5.jpg');
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
.w3-padding-220 {
  padding-bottom: 220px;
  padding-top: 64px;
}
.w3-padding-50 {
  padding-bottom: 10px;
  padding-top: 50px;
}

.w3-padding-100 {
  padding-bottom: 50px;
  padding-top: 50px;
}

.img-responsive1 {
    background-image: url('./images/s-desserts.jpg');
    min-height: 400px;
    text-align: center;
}

.img-responsive2 {
    background-image: url('./images/s-celebration.jpg');
    min-height: 400px;
    text-align: center;
}

.img-responsive3 {
    /*background-image: url('./images/s-childrens.jpg');*/
    min-height: 400px;
    text-align: center;
}

.img-responsive4 {
    /*background-image: url('./images/ava.jpg');*/
    height: 200px;
    width: 100%;
    text-align: center;
}

.w3-upload {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 50%;
}

.w3-select {
    padding: 8px;
    border: none;
    width: 50%;
}

.w3-input .caret {
  margin-left: 10px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }

/*==============================================================================
    BILL
==============================================================================*/
.Bill {
    z-index: 1;
    position: relative;
}

.Bill p {
    margin-bottom: 0px;
    font-size: 14px !important;
}

.Bill .BillIcon {
    position: fixed;
    z-index: 1;
    right: 10px;
    bottom: 50px;
}

.Bill .BillIcon:hover {
    cursor: pointer;
}

.Bill .BillIcon .NotifyIcon {
    display: inline-block;
    float: right;
    position: fixed;
    right: 10px;
    background-color: #f00;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.Bill .BillWrapper {
    display: none;
    z-index: 1;
    position: fixed;
    right: 30px;
    bottom: 70px;
    width: 150px;
    height: 300px;
    box-shadow: 0 0 3px #888888;
    border-radius: 5px;
    padding: 0px;
}

.Bill .BillWrapper .BillDetail {
    height: 250px;
    background-color: #ffffff;
    overflow-y: scroll;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: 1px solid #8d7e6f;
    border-bottom: 1px solid #8d7e6f;
}

.Bill .BillWrapper .BillTitle {
    background-color: #f00;
    width: 100%;
    border: 0px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.Bill .BillDetail .BillDetailItem {
    border: none;
    border-radius: unset;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid #8d7e6f;
}

.Bill .BillDetail .BillDetailItem:hover {
    background-color: #FF0000;
}

.Bill .BillDetail .BillDetailItem .CakeName {
    float: left;
    padding-left: 15px;
    font-size: 15px !important;
    text-transform: uppercase;
}

.Bill .BillDetail .BillDetailItem:hover .CakeName {
    color: #ffffff;
}

.Bill .BillDetail .BillDetailItem .Qualtity {
    float: right;
    width: 30px;
    border: 0px;
    font-weight: bold;
}

.Bill .BillDetail .BillDetailItem:hover .Qualtity {
    color: #ffffff;
}

.Bill .BillDetail .BillDetailItem .Price {
    clear: both;
    float: right;
    font-size: 12px !important;
    font-weight: bold;
    text-transform: uppercase;
    color: #f00;
    padding-right: 10px;
}

.Bill .BillDetail .BillDetailItem:hover .Price {
    color: #ffffff;
}

.Bill .BillDetail .BillDetailItem .BtnCancel {
    width: 15px;
    height: 15px;
    color: #ffffff;
    background-color: #f00;
}

.Bill .BillDetail .BillDetailItem .BtnCancel span {
    display: block;
    height: 15px;
    line-height: 15px;
    padding: 0px 3px;
    vertical-align: middle;
}

.Bill .BtnOrder {
    position: absolute;
    bottom: 0;
    background-color: #f00;
    width: 100%;
    border: 0px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
