#myFooter{
    padding-top:32px;
    background-color: inherit;
}

#myFooter .container{
    text-align: center;
    width: auto;
}

#myFooter h5 {
    font-size: 20px;
    color: #cc0d1c;
    font-weight: bold;
    margin: 25px 0 0 30px;
    background: none;
}

#myFooter a,p,li {
    color: #8d7e6f;
    text-decoration: none;
    font-family: BlissRegular;
    font-weight: bold;
    font-size: 15px;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #cc0d1c;
}
#myFooter li{
    display: inline-block;
    margin: 0px 15px;
    line-height: 2;
}

#myFooter .footer-social{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #eee;
}

#myFooter .fa{
    font-size: 36px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #d0d0d0;
    border-radius: 51%;
    padding: 10px;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 43px;
    text-decoration: none;
    transition:color 0.2s;
}

#myFooter .fa-facebook:hover{
   color: #2b55ff;
}

#myFooter .fa-facebook:focus{
    color: #2b55ff;
}

#myFooter .fa-google-plus:hover{
    color:red;
}

#myFooter .fa-google-plus:focus{
    color:red;
}

#myFooter .fa-twitter:hover{
    color: #00aced;

}

#myFooter .fa-twitter:focus{
    color:#00aced;
}
#map-container {
    height: 240px;
    width: 100%;
}
