html {
    background-image: url('../images/background.png');
    background-position: center;
}

.main-content {
    background-image: url('../images/ornament_2-background.png');
    background-position: center -40px;
    height: 440px;
}

.main-content .wrapper .column-custom {
    padding-top: 30px;
}

.main-content .wrapper .column-custom .category-name {
    color: #ffffff;
    font-size: 20px;
    width: 70%;
    text-align: center;
}

.slick-dots li button:before
{
    font-family: 'slick';
    color:  #ffffff;
    font-size: 10px;
}

footer{
  text-align: center;
}
