<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Homepage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/css/style.css" />
    </head>
    <body>
        <!-- header -->
        <div class="container">
            <!-- logo & intro -->
            <div class="row">
                <div class="col-md-5 logo">
                    <a href="#"><img src="../public/images/logo.png" /></a>
                </div>
                <div class="contact-and-time">
                    <p>Hotline: 0000000</p>
                    <p>Mon-Fri: 8am-5pm</p>
                    <p>Sat: 8am-4pm</p>
                </div>
                <div class="search">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" />
                        </div>
                    </form>
                </div>
                <div class="account">
                    <a href="#">Login</a>
                    <a href="#">Create an account</a>
                </div>
            </div>

            <!-- menu -->
            <div class="row">
                <nav class="navbar navbar-custom">
                    <div class="navbar-header">
                        <button class="collapsed navbar-toggle button-menu" data-toggle="collapse" data-target="#menu-collapse">
                            <span class="sr-only">Toggle</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="basket">
                            <a href="#"><img src="../public/images/basket.png" style="width:44px; height:34px;"/></a>
                        </span>
                    </div>

                    <div class="navbar-collapse collapse" id="menu-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Menu 1</a></li>
                            <li><a href="#">Menu 2</a></li>
                            <li><a href="#">Menu 3</a></li>
                            <li><a href="#" style="padding-top:0px; padding-bottom:0px;"><img class="basket-in-drop-menu" src="../public/images/basket.png"/></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- main content -->
        <div class="cotainer main-content col-md-10 col-md-offset-1">
            <div class="col-sm-6 col-md-3 column-custom text-center">
                <a href="#" class="link-to-detail"><img src="../public/images/type1.png" /></a>
            </div>
            <div class="col-sm-6 col-md-3 column-custom text-center">
                <a href="#" class="link-to-detail"><img src="../public/images/type2.png" /></a>
            </div>
            <div class="col-sm-6 col-md-3 column-custom text-center">
                <a href="#" class="link-to-detail"><img src="../public/images/type3.jpg" /></a>
            </div>
            <div class="col-sm-6 col-md-3 column-custom text-center">
                <a href="#" class="link-to-detail"><img src="../public/images/type4.png" /></a>
            </div>
        </div>

        <!-- footer -->
        <div class="container">

        </div>

        <!-- javascript & jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
